.body{
    background-image: url(img/Desktop\ -\ 2.png);
    background-attachment: fixed;
    background-size: cover;
}
.loginbck{
    background-image: url(img/LoginBackground.png);
    background-attachment: fixed;
    background-size: cover;
}
.lstbck{
    background-image: url(img/Desktop\ -\ 3.png);
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}
.h1title{
    color: white;
}
.title{
    background: none;
    width: 670px;
    color: white;
    padding: 5px;
    border: solid 1px white;
}
.title::placeholder{
    color: white;
}
.labeltitle{
    color: #fff;
    margin-right: 5px;
}
.herobanner{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.671);
    height: 380px;
    border-radius: 25px;
    margin: 10px;
}
.herobanner1{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.671);
    height: 100px;
    border-radius: 25px;
    margin: 10px;
    width: 100%;
}
.content{
    color: white;
    background: none;
    border-radius: 5px;
    border: solid white 1px;
}
.content::placeholder{
    color: white;
    text-align: center;
    font-size: 45px;
}
.submit{
    color: black;
    font-weight: 300;
    width: 180px;
    float: right;
    border: none;
    background: #FDE5D4;
    padding: 10px;
    border-radius: 5px;
}
.submit:hover{
    background: #01A7CA;
    color: #fff;
}
.notespace{
    height: 200px;
    margin: 10px;
}

.notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.note {
    border: solid 1px white;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    background-color: #020202bd;
    padding: 10px;
    margin: 10px;
    width: 300px;
}
.noteList{
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.divLog{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.logForm{
    width: 500px;
    padding: 30px;
    background: #0000009a;
    border-radius: 15px;
}
.h1log{
    text-align: center;
    color: #fff;
    font-size: 28px;
}
.error{
    background: #f2dede;
    color: #a94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
}
.create{
    font-size: 14px;
    display: inline-block ;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    margin-left: 32px;
}
.create:hover{
    color: aqua;
}
.btninp{
    color: white;
    width: 120px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: #01A7CA;
    float: right;
    margin-right: 40px;
}
.btninp:hover{
    background: #f2dede;
    color: black;
}
.loginp{
    border: none;
    position: relative;
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    left: 45px;
}
.passinp{
    border: none;
    position: relative;
    width: 80%;
    padding: 8px;
    margin-bottom: 30px;
    left: 45px;
}
.out{
    position: absolute;
    left: 95%;
    top: 5%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    background: #258497b6;
    border-radius: 10px;
    padding: 10px;
    float: right;
    color: #fff;
    transition: all 1s;
}
.out:hover{
    background-color: red;
}
.seemore{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listred{
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin-right: 115px;
}
.listred:hover{
    color: red;
}
.listredi{
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
.deleteButton{
    color: black;
    background: #D6CC99;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.deleteButton:hover{
    background: red;
    color: white;
}
.delform{
    padding: 10px;
}
.updateButton{
    color: white;
    text-decoration: none;
    padding: 9px;
    background: #01A7CA;
    border-radius: 5px;
    border: none;
    margin-left: 80px;
}
.updateButton:hover{
    color: black;
    background: rgba(255, 255, 255, 0.788);
}
.updateTitle{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1Update{
    color: white;
}
.updateTitle2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-thoughts{
    background: rgba(0, 0, 0, 0.76);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.subTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.h1title span {
    font-family: 'Bad Script', cursive;
    color: #fff;
    animation: glowing 1s linear infinite;
  }
  @keyframes glowing {
    0%, 100% {
      color: #fff;
      filter: blur(2px);
      text-shadow: 0 0 10px #00b3ff,
                   0 0 20px #00b3ff,
                   0 0 40px #00b3ff,
                   0 0 80px #00b3ff,
                   0 0 120px #00b3ff,
                   0 0 200px #00b3ff,
                   0 0 300px #00b3ff,
                   0 0 400px #00b3ff;
    } 5%, 95% {
      color: #111;
      text-shadow: none;
      filter: blur(0px);
    }
  }

  .latest{
    animation: changer 1s linear infinite;
  }
  @keyframes changer{
    0%{
        color: #fff;
    }
    50%{
        color: rgb(156, 34, 255)
    }
    100%{
        color: cyan;
    }
  }